<div class="card">
  <h5 class="card-header">{{tweets.[0].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[0].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}"class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>

<div class="card">
  <h5 class="card-header">{{tweets.[1].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[1].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}"class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>

<div class="card">
  <h5 class="card-header">{{tweets.[2].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[2].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}" class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>

<div class="card">
  <h5 class="card-header">{{tweets.[3].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[3].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}"class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
  
</div>
<div class="card">
  <h5 class="card-header">{{tweets.[4].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[4].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}"class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>

<div class="card">
  <h5 class="card-header">{{tweets.[5].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[5].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}"class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>

<div class="card">
  <h5 class="card-header">{{tweets.[6].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[6].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}" class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>

<div class="card">
  <h5 class="card-header">{{tweets.[7].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[7].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}" class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>

<div class="card">
  <h5 class="card-header">{{tweets.[8].userCreate.username}}</h5>
    <div class="card-body">
     <h5 class="card-title">{{tweets.[8].message}}</h5>
     <p class="card-text">Created At: {{tweet.createdAt}}</p>
     <a href="/tweets/{{tweet._id}}"class="btn btn-primary">Detail</a>
     <a href="#" class="btn btn-primary">Like</a>
    </div>
</div>